.compte{
    display:flex;
    justify-content: flex-end;
}
.compte i, .compteText i{
    color:var(--couleur-marine);
}
.compte i{
    padding:5px;
}
i.material-icons.text{
    font-size:2.8rem;
    padding-right:var(--padding-base);
}
.compte i.focus, .compteText i.focus{
    color:var(--couleur-orange);
}

.compte.uneOeuvre{
    width:100%;
    box-sizing: border-box;
    padding-right:var(--padding-base);
}