.teste.cacher {
    /* display:none; */
    transform:ScaleY(0);
        transform-origin: 50% 0%;
        transition: transform .15s;
}
.teste{
    width:100%;
    transform: ScaleY(1);
    transform-origin: 50% 0%;
    transition: transform 235ms;
    position: absolute;
}


/*-------------- MON COMPTE ------------*/
h2{
    text-align: center;
    padding-bottom: calc(var(--padding-base) * 2);
}
.deco input{
    padding: 0;
}
.mesInfos{
    width:100%;
}

.infoPerso{
    background-color: var(--couleur-fond);
    padding: var(--padding-base) calc(var(--padding-base) *2);
}
.mesDonnes{
    padding: var(--padding-base) 0;
}
.infosPersos{
    height:50%;
}
.autresInfos{
    height:50%;
}

.mesDonnes div p{
    padding-top: 8px;
    color: var(--couleur-marine);
}

label.txtBtn{
    color: var(--couleur-marine);
}
.inputText{
    margin-top:5px;
}
.annuler{
    background-color: var(--couleur-orange);
}
.btns_form{
    display: flex;
}
.btns_form input{
    margin-right:var(--padding-base);
}

.teste div{
    padding: 0;
}
.teste{
    background-color: var(--couleur-bleu);

}
.teste>div{
    /* width:100%; */
    padding-left: var(--padding-base);
}


.deco{
    display: flex;
    justify-content: center;
}

.elmt.first{
    border-bottom: 2px solid var(--couleur-orange);
    padding-bottom: var(--padding-base);
}

/* BREAK TABLET PORTRAIT UP */
@media screen and (min-width: 700px) {
    .teste{
        max-width:600px;
    }
   .elmt{
       display: flex;
       padding-bottom:var(--padding-base);
   }
   .elmt p{
       padding-right: var(--padding-base);
   }
   .elmt.first{
    border-bottom: none;
}

}
@media screen and (min-width: 1200px) {
    .teste{
        max-width:1350px;
    }
}


/*-------------- CONNEXION/ INSCRIPTION ------------*/
main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}
.connexion, .inscrip{
    min-height:calc(100vh - (var(--taille-appbar) * 2));
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form div{
    padding: var(--padding-base) 0;
}
form p{
    margin-bottom: calc(var(--padding-base) / 2);
}
.connexion h2, .inscrip h2{
    text-align: center;
    margin:var(--padding-base) 0;
}
.inscription, .connex{
    /* position:absolute; */
    /* bottom:0; */
    background-color: var(--couleur-bleu);
    width:100%;
    min-height: var(--taille-appbar);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lienInscription{
    display:flex;
    justify-content: flex-start;
}
.lienInscription a{
    display: flex;
    align-items: center;
}

.lienInscription a{
    display:flex;
    justify-content: center;
    align-items: center;
}
.lienInscription a, .inscription i, .inscription p{
    color:var(--couleur-marine);
}
.inscription i, .connex i{
    font-size: 2.4rem;
}


/* BREAK TABLET PORTRAIT UP */
@media screen and (min-width: 700px) {
    main{
        max-width:600px;
        justify-content: center;
    }
    .connexion, .inscrip{
        min-height:50vh;
        background-color: var(--couleur-fond);
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: calc(var(--padding-base) *3) 0; */
    }
    .inscription, .connex{
        position: static;
    }
}

/* BREAK DESKTOP UP */
@media screen and (min-width: 1200px) {
    main{
        max-width:1350px;
        flex-direction: row;
    }
    .connexion, .inscrip{
        width:66%;
    }
    .inscription, .connex{
        width:33%;
        min-height:50vh;
    }
    .connexion h2{
        margin-bottom:  calc(var(--padding-base) *3);
    }


}

